.hero-section {
    background: url('homepic.jpeg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
  }
  
  .contact-btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  